DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Liste sayfaları: /urunler ve /blog klasör kökü (index.html)
  RewriteRule ^urunler/?$ urunler/index.html [L]
  RewriteRule ^blog/?$ blog/index.html [L]

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.+?)/?$ $1.html [L]

  ErrorDocument 404 /404.html
</IfModule>
