<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteRule ^$ admin/index.php [L]
  RewriteRule ^admin/?$ admin/index.php [L]
</IfModule>

<Files ".env">
  Require all denied
</Files>
